<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>管理员</title>

    <%= require('html-loader!./layout/head-common.html')%>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">


</head>

<body>

<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-lower">接机系统管理员</span>
</h1>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">xxFlight</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" id="listRequests">查看所有的接机请求</a>
                </li>
                 <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" id="unchecked">显示未通过的志愿者请求</a>
                </li>
                 <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" id="all">显示所有志愿者请求</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="err-item" >
                    <p class="err-msg">Error</p>
                </div>
                <div class="bg-faded p-5 d-flex ml-auto rounded">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="tab">
                                <tr>
                                    <th>姓名</th>
                                    <th>userId</th>
                                    <th>申请时间</th>
                                    <th>状态(0:通过/1:未通过)</th>
                                    <th>点击同意</th>
                                </tr>

                            </table>
                        </div>
                        <div id="pagination"></div>
                    </div>

                    <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<%= require('html-loader!./layout/footer.html')%>

</body>

</html>
