<!DOCTYPE html>
<html lang="en">

<head>
    <title>接机</title>
    <%= require('html-loader!./layout/head-common.html') %>

</head>
+
<body>
<div class="entry">
    <div class="center">
        <a href="logIn.html" class="entryButton">登录</a>
        <br>
        <a href="signUp.html" class="entryButton">注册成为新同学</a>
        <br>
        <a href="signUpAsVolunteer.html" class="entryButton">注册成为接机志愿者</a>
        <br>
    </div>
</div>

<%= require('html-loader!./layout/footer.html')%>
</body>

</html>